<!--order1-->
{foreach $data as $v}
<div class="choose-title">
    <label data-toggle="checkbox" class="checkbox-pretty ">
           <input type="checkbox" checked="checked"><span>{$v.create_time}　订单编号：{$v.order_sn}</span>
     </label>
    <a class="sui-btn btn-info share-btn">分享</a>
</div>
<table class="sui-table table-bordered order-datatable">
    <tbody>
        <tr>
            <td width="35%">
                <div class="typographic"><img src="__STATIC__/home/img/goods.png" />
                    <a href="#" class="block-text">{$v.goods_name}</a>
                    {foreach $v['attr_values'] as $val}
                    <span class="guige">{$val.attr_value}</span>
                    {/foreach}
                </div>
            </td>
            <td width="5%" class="center">
                <ul class="unstyled">
                    <li class="o-price">¥599.00</li>
                    <li>{$v.goods_price}</li>
                </ul>
            </td>
            <td width="5%" class="center">1</td>
            
            <td width="8%" class="center">
                <ul class="unstyled">
                        {if $v['pay_status'] == 3}
                    <li paystatus={$v.pay_status}>已发货</li>
                        {/if}
                    <li><a>退货/退款</a></li>
                </ul>
            </td>
            <td width="10%" class="center" rowspan="2">
                <ul class="unstyled">
                    <li>¥299.00</li>
                    <li>（含运费：￥0.00）</li>
                </ul>
            </td>
            <td width="10%" class="center" rowspan="2">
                <ul class="unstyled">
                    <li>部分发货</li>
                    <li><a href="orderDetail.html" class="btn">订单详情 </a></li>
                </ul>
            </td>
            <td width="10%" class="center" rowspan="2">
                <ul class="unstyled">
                    <li>还剩4天23时</li>
                    <li><a href="#" class="sui-btn btn-info">确认发货</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td width="35%">
                <div class="typographic"><img src="__STATIC__/home/img/goods.png" />
                    <a href="#" class="block-text">包邮 正品玛姬儿压缩面膜无纺布纸膜100粒 送泡瓶面膜刷喷瓶 新款</a>
                    <span class="guige">规格：温泉喷雾150ml</span>
                </div>
            </td>
            <td width="5%" class="center">
                <ul class="unstyled">
                    <li class="o-price">¥199.00</li>
                    <li>¥212.00</li>
                </ul>
            </td>
            <td width="5%" class="center">1</td>
            <td width="8%" class="center">
                <ul class="unstyled">
                    <li>未发货</li>
                    <li><a>退货/退款</a></li>
                </ul>
            </td>


        </tr>

    </tbody>
</table>